tmp
*.a
*.o

doc/

src/admin/dmesg
src/admin/fstrim
src/admin/insmod
src/admin/mount
src/admin/mountvfs
src/admin/rmmod
src/admin/switchroot
src/admin/sysinfo
src/admin/systime
src/admin/umount
src/admin/uname
src/admin/uptime
src/devel/hexdump
src/devel/strings
src/file/chmod
src/file/chown
src/file/df
src/file/du
src/file/mkdir
src/file/mknod
src/file/pwd
src/file/ren
src/file/rm
src/file/rmdir
src/file/sync
src/file/touch
src/file/which
src/misc/chvt
src/misc/clear
src/misc/errno
src/misc/hello
src/misc/kill
src/misc/sleep
src/misc/xargs
src/text/basename
src/text/cat
src/text/dirname
src/text/echo
src/text/false
src/text/tee
src/text/true
src/text/write
src/text/wc
src/text/yes
