tmp
*.a
*.o

src/dmesg
src/fstrim
src/insmod
src/mount
src/mountvfs
src/rmmod
src/switchroot
src/sysinfo
src/systime
src/uname
src/uptime
src/hexdump
src/strings
src/chmod
src/chown
src/df
src/du
src/mkdir
src/mknod
src/ls
src/pwd
src/ren
src/del
src/stat
src/sync
src/touch
src/which
src/chvt
src/clear
src/errno
src/hello
src/kill
src/sleep
src/symlink
src/xargs
src/basename
src/cat
src/dirname
src/echo
src/false
src/tee
src/true
src/write
src/wc
src/yes
src/lsmod
