/basename
/cat
/chmod
/chown
/chvt
/clear
/dirname
/du
/echo
/false
/ff
/fn
/head
/kill
/lr
/ls
/mkdir
/mknod
/pwd
/ren
/rm
/rmdir
/sleep
/stat
/symlink
/sync
/tee
/time
/touch
/true
/uname
/uptime
/waitfor
/wc
/which
/xargs
/yes
