dmesg
fstrim
insmod
mount
mountvfs
rmmod
switchroot
sysinfo
systime
uname
uptime
hexdump
strings
chmod
chown
df
du
mkdir
mknod
ls
ren
del
stat
sync
touch
which
chvt
clear
errno
hello
kill
sleep
symlink
xargs
cat
echo
false
tee
true
write
wc
yes
lsmod
whoami
fn
bcp
