work/
dmesg
fstrim
mount
mountvfs
switchroot
sysinfo
systime
uname
uptime
hexdump
strings
chmod
chown
df
du
mkdir
mknod
ls
ren
del
stat
sync
touch
which
chvt
clear
errno
hello
kill
symlink
xargs
cat
echo
false
tee
true
write
wc
yes
whoami
fn
bcp
date
ff
time
waitfor
